.container {
    width: 950px;
    margin: 40px auto;
  }
  .one,
  .two {
    width: 45%;
    display: inline-block;
  }

  .two {
    width: 45%;
    float: right;
  }
     

  .two p{
    margin-top: 0;
  }

  .container-1{
    width: 950px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
  }

  .three, .four{
    width: 45%;

  }

  .four p{
   margin-top: 0 ;
  }

